.ollm-chat-view-prompt-container {
  display: flex;
  gap: 8px;

  position: sticky;
  bottom: 0;


  & textarea{
    flex: 1 1 auto;
    min-height: 3em;
  }
}

.ollm-chat-view-output-container {
    padding-bottom: 40px;
}